<nav class="fixed-top bg-white py-3  mb-3">
  <div class="d-flex justify-content-start ">
  <img src="../../../assets/images/Screeens/button back.png" alt="" class="img-fluid ps-3"  style="height: 40px;" routerLink="/ProfileUser">
   <h2 class="ps-10">CGU</h2>
  </div>
</nav>
<div class="container-fluid bg-white">
  <div class="row mt-11 mb-20">
    <div class="col-lg-12 ">
      <div class="text-start ps-3 my-2">
        <h4>1. Acceptation des Conditions d'Utilisation</h4>
        <p class="pe-4">En téléchargeant ou en utilisant l'application Spotted, vous acceptez automatiquement ces conditions d’utilisation. Si vous n'êtes pas d'accord avec ces conditions, vous êtes prié de ne pas utiliser cette application.</p>
      </div>
      <div class="text-start ps-3 my-2">
        <h4>2. Description du service</h4>
        <p class="pe-4">Spotted est une application mobile qui permet aux utilisateurs de signaler des vols et des agressions, ainsi que d’utiliser un système de navigation GPS intégré. L’application offre également des fonctionnalités de chat pour une prise en charge psychologique et l'échange entre membres via des groupes thématiques.</p>
      </div>
      <div class="text-start ps-3 my-2">
        <h4>3. Accès et utilisation du service</h4>
        <p class="pe-4">Pour accéder et utiliser Spotted, il est nécessaire d'activer la localisation en temps réel et de permettre la réception de notifications push. Les utilisateurs doivent créer un compte fournissant nom, prénom, adresse, sexe, adresse email et autres informations personnelles nécessaires à la création d'un profil utilisateur.</p>
      </div>
      <div class="text-start ps-3 my-2">
        <h4>4. Abonnements et paiements</h4>
        <p class="pe-4">L'utilisation de certaines fonctionnalités de Spotted est soumise à un abonnement payant pour les non-résidents français. Les détails des plans d'abonnement et les modalités de paiement sont accessibles via l'application.</p>
      </div>
      <div class="text-start ps-3 my-2">
        <h4>5. Collecte et utilisation des données</h4>
        <p class="pe-4">Spotted collecte des données personnelles telles que le nom, le prénom, l'adresse de résidence, le sexe, et l'email des utilisateurs. Ces informations sont utilisées pour établir des profils de préoccupation sécuritaire. Les données des résidents français peuvent être partagées ou vendues à des tiers conformément à cette politique. Les utilisateurs acceptent cette utilisation en s'inscrivant et utilisant l'application.</p>
      </div>
      <div class="text-start ps-3 my-2">
        <h4>6. Confidentialité et Sécurité</h4>
        <p class="pe-4">Spotted s'engage à protéger la confidentialité et la sécurité des données de ses utilisateurs. Des mesures techniques sont en place pour empêcher l'accès non autorisé ou le traitement illégal des informations personnelles.</p>
      </div>
      <div class="text-start ps-3 my-2">
        <h4>7. Utilisation des Fonctionnalités d’Urgence</h4>
        <p class="pe-4">Les utilisateurs peuvent contacter les services de police ou d'urgence via l'application. Ces fonctionnalités doivent être utilisées uniquement en cas de besoin réel.</p>
      </div>
      <div class="text-start ps-3 my-2">
        <h4>8. Droits de Propriété Intellectuelle</h4>
        <p class="pe-4">Tous les droits de propriété intellectuelle relatifs à l'application et à son contenu appartiennent à Spotted ou à ses licenciés. Il est interdit de copier, modifier, distribuer ou utiliser le contenu sans autorisation préalable.</p>
      </div>
      <div class="text-start ps-3 my-2">
        <h4>9. Modification des conditions</h4>
        <p class="pe-4">Tous les droits de propriété intellectuelle relatifs à l'application et à son contenu appartiennent à Spotted ou à ses licenciés. Il est interdit de copier, modifier, distribuer ou utiliser le contenu sans autorisation préalable.</p>
      </div>
      <div class="text-start ps-3 my-2">
        <h4>10. Juridiction et Lois Applicables</h4>
        <p class="pe-4">Ces conditions sont régies par le droit français. Tout litige lié à l'utilisation de l'application sera soumis à la compétence exclusive des tribunaux français.</p>
      </div>
    </div>
  </div>
</div>

