<nav class="fixed-top bg-white py-3  mb-3 ">
  <div class="d-flex justify-content-start ">
  <img src="../../../assets/images/Screeens/button back.png" alt="" class="img-fluid ps-3 pt-3"  style="height: 40px;" routerLink="/ProfileUser">
   <h2 class="ps-10 fw-bold pt-3">Notifications</h2>
  </div>
</nav>
<div class="container-fluid bg-white">
  <div class="row mt-16 mb-20">
   <div class="col-lg-12 text-start">
    <p class="small-text px-4">
      Choisissez les notifications que vous souhaitez recevoir ci-dessous et nous mettrons à jour les paramètres.
    </p>
   </div>
    <div class="col-lg-12 text-start">
     <h1 class="fw-bold ps-4">Générale</h1>
    </div>
    <div class="col-lg-12 text-start">
     <div class="border-bottom"></div>
     <div class="d-flex justify-content-between px-4">
      <h4 class="pt-3">Notifications push</h4>
      <div class="form-check form-switch  mb-2 pt-3">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
      </div>
     </div>
     <p class="px-4">
      Recevoir des notifications push de notre application de manière régulière pour être informé des signalements des Spotters.
     </p>
     <div class="border-bottom"></div>
     </div>
     <div class="col-lg-12 text-start">
      <div class="border-bottom"></div>
      <div class="d-flex justify-content-between px-4">
       <h4 class="pt-3">Newsletter</h4>
       <div class="form-check form-switch  mb-2 pt-3">
         <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" >
       </div>
      </div>
      <p class="px-4">
        Recevoir des informations par email de notre équipe marketing concernant les nouvelles fonctionnalités.
      </p>
      <div class="border-bottom"></div>
      </div>
      <div class="col-lg-12 text-start">
        <h1 class="fw-bold ps-4">Système</h1>
        <div class="d-flex justify-content-between px-4">
         <h4 class="pt-3">Services de localisation </h4>
         <div class="form-check form-switch  mb-2 pt-3">
           <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" >
         </div>
        </div>
        <p class="px-4">
          En nous permettant de vous localiser, nous pouvons vous montrez les signalements proche de vous.
        </p>
        <div class="border-bottom"></div>
        </div>
  </div>
</div>

