<div class="container-fluid bg-light">
  <div class="row">
    <div class="col-lg-12">
      <div class="card m-2 mt-4">
        <div class="row">
          <div class="col-lg-12 text-center">
            <img src="../../../assets/images/Screeens/Fecli.PNG" alt="" class="img-fluid pt-10" style="min-height: 50px;">
          </div>
          <div class="col-lg-12 text-center">
            <h2 class=" ps-3 pt-2 hometitle text-dark">
              Félicitations!
            </h2>
            <p class="px-5 text-dark">
              Thank You for Subscribing!
            </p>
          </div>
          <div class="col-lg-12 mb-7">
            <div class="border mx-4">
            </div>
          </div>
          <div class="col-lg-12 text-center" >
            <div class="form-group mb-5 d-grid px-3">
              <button  class="btn btn-primary shadow-lg rounded-4 btn-lg shadowfilter"  routerLink="/userHome" >lets Go</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
