<nav class="fixed-top bg-white py-3 shadow">
  <div class="d-flex justify-content-between ">
  <img src="../../../assets/images/Screeens/button back.png" alt="" class="img-fluid ps-3"  style="height: 40px;" routerLink="/Discuter">
  <img src="../../../assets/images/Screeens/Frame 1.png" alt="" class="img-fluid" style="height: 46px;">
  <app-top-batch></app-top-batch>
  </div>
  </nav>
<div class="container-fluid bg-light">
  <div class="row mt-13">
      <div class="col-lg-12">
        <h2 class="text-start ps-3 fw-bolder">Menu</h2>
    </div>
    <div class="col-lg-12 px-4">
      <button class="btn g-grid w-100 mb-4  bg-white d-flex  justify-content-between  shadow rounded-4 " routerLink="/stat">
        <div class="d-flex justify-content-between  pt-2">
          <img src="../../../assets/images/Point/zoom-front-color.png" alt="" class="img-fluid pe-4">
          <h4 class="pe-3 pt-1">Statistiques</h4>
        </div>
        <i class="fa-solid fa-chevron-right pt-3" style="font-size: 20px;"></i>
      </button>
    </div>
    <div class="col-lg-12 px-4">
      <button class="btn g-grid w-100 mb-4  bg-white d-flex  justify-content-between  shadow rounded-4 " routerLink="/Discuter">
        <div class="d-flex justify-content-between  pt-2">
          <img src="../../../assets/images/Point/chat-text-front-color.png" alt="" class="img-fluid pe-4">
          <h4 class="pe-3 pt-1">Discuter</h4>
        </div>
        <i class="fa-solid fa-chevron-right pt-3" style="font-size: 20px;"></i>
      </button>
    </div>
    <div class="col-lg-12 px-4">
      <button class="btn g-grid w-100 mb-4  bg-white d-flex  justify-content-between  shadow rounded-4 " routerLink="/GCU">
        <div class="d-flex justify-content-between  pt-2">
          <img src="../../../assets/images/Point/thumb-up-front-color.png" alt="" class="img-fluid pe-4">
          <h4 class="pe-3 pt-1">Conseils</h4>
        </div>
        <i class="fa-solid fa-chevron-right pt-3" style="font-size: 20px;"></i>
      </button>
    </div>
    <div class="col-lg-12 px-4">
      <a routerLink="/ProfileUser" class="btn g-grid w-100 mb-4  bg-white d-flex  justify-content-between  shadow rounded-4 ">
        <div class="d-flex justify-content-between  pt-2">
          <img src="../../../assets/images/Point/boy-front-color.png" alt="" class="img-fluid pe-4">
          <h4 class="pe-3 pt-1">Profile</h4>
        </div>
        <i class="fa-solid fa-chevron-right pt-3" style="font-size: 20px;"></i>
      </a>
    </div>
  </div>
</div>

<app-bottom-profile></app-bottom-profile>
