<nav class="fixed-top bg-white py-3  mb-3">
  <div class="d-flex justify-content-start ">
  <img src="../../../assets/images/Screeens/button back.png" alt="" class="img-fluid ps-3"  style="height: 40px;" routerLink="/ProfileUser">
   <h2 class="ps-10">Aide</h2>
  </div>
</nav>
<div class="container-fluid bg-light">
  <div class="row mt-11 mb-20">
    <div class="col-lg-12 text-center pt-5">
      <h2 class="h2 fw-bold">
        Bonjour, comment <br>pouvons-nous vous aider ?
      </h2>
    </div>
    <div class="col-lg-12 py-3">
      <div class="d-flex justify-content-center">
        <button class="btn bg-white me-4" style="border: 1px solid #000;">
          <img src="../../../assets/images/Point/Phoneb.png" alt="" class="img-fluid" style="height: 55px;">
          <h4>Appeler nous</h4>
        </button>
        <button class="btn bg-white " style="border: 1px solid #000;">
          <img src="../../../assets/images/Point/mail icon.png" alt="" class="img-fluid" style="height: 55px;">
          <h4>Appeler nous</h4>
        </button>
      </div>
    </div>
    <div class="col-lg-12 text-center py-3">
      <h4>Consulter les FAQS ci-dessous :</h4>
    </div>
    <div class="col-lg-12">
      <div class="card text-center  mx-4 mb-3 p-4" style="border: 1px solid #000;">
        <h4>Comment faire un signalement ?</h4>
        <p>
          Cliquer sur le bouton S dans le menu ensuite choissisez le type d'incident que vous souhaitez signaler.
          Renseignez l'heure et le lieu de l'incident. Faites une description de l'incident si vous le souhaitez.
          Confirmez votre signalement et voila vous avez aider les autres Spotters.
          Vous pouvez aussi ajouter cette fonctionnalités en widget pour plus de facilité.
        </p>
      </div>
      <div class="card text-center  mx-4 mb-3 p-4" style="border: 1px solid #000;">
        <h4>Comment faire un signalement ?</h4>
        <p>
          Cliquer sur le bouton S dans le menu ensuite choissisez le type d'incident que vous souhaitez signaler.
          Renseignez l'heure et le lieu de l'incident. Faites une description de l'incident si vous le souhaitez.
          Confirmez votre signalement et voila vous avez aider les autres Spotters.
          Vous pouvez aussi ajouter cette fonctionnalités en widget pour plus de facilité.
        </p>
      </div>
      <div class="card text-center  mx-4 mb-3 p-4" style="border: 1px solid #000;">
        <h4>Comment faire un signalement ?</h4>
        <p>
          Cliquer sur le bouton S dans le menu ensuite choissisez le type d'incident que vous souhaitez signaler.
          Renseignez l'heure et le lieu de l'incident. Faites une description de l'incident si vous le souhaitez.
          Confirmez votre signalement et voila vous avez aider les autres Spotters.
          Vous pouvez aussi ajouter cette fonctionnalités en widget pour plus de facilité.
        </p>
      </div>
      <div class="card text-center  mx-4 mb-3 p-4" style="border: 1px solid #000;">
        <h4>Comment faire un signalement ?</h4>
        <p>
          Cliquer sur le bouton S dans le menu ensuite choissisez le type d'incident que vous souhaitez signaler.
          Renseignez l'heure et le lieu de l'incident. Faites une description de l'incident si vous le souhaitez.
          Confirmez votre signalement et voila vous avez aider les autres Spotters.
          Vous pouvez aussi ajouter cette fonctionnalités en widget pour plus de facilité.
        </p>
      </div>
      <div class="card text-center  mx-4 mb-3 p-4" style="border: 1px solid #000;">
        <h4>Comment faire un signalement ?</h4>
        <p>
          Cliquer sur le bouton S dans le menu ensuite choissisez le type d'incident que vous souhaitez signaler.
          Renseignez l'heure et le lieu de l'incident. Faites une description de l'incident si vous le souhaitez.
          Confirmez votre signalement et voila vous avez aider les autres Spotters.
          Vous pouvez aussi ajouter cette fonctionnalités en widget pour plus de facilité.
        </p>
      </div>
      <div class="card text-center  mx-4 mb-3 p-4" style="border: 1px solid #000;">
        <h4>Comment faire un signalement ?</h4>
        <p>
          Cliquer sur le bouton S dans le menu ensuite choissisez le type d'incident que vous souhaitez signaler.
          Renseignez l'heure et le lieu de l'incident. Faites une description de l'incident si vous le souhaitez.
          Confirmez votre signalement et voila vous avez aider les autres Spotters.
          Vous pouvez aussi ajouter cette fonctionnalités en widget pour plus de facilité.
        </p>
      </div>
    </div>
  </div>
</div>
<app-bottom-butto></app-bottom-butto>
