


:host {
  display: block;
  height: 100%;
  width: 100%;
}

google-map {
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.container-fluid{
  margin: 0 !important;
  padding: 0 !important;
}
