<div class="container-fluid bg-light">
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="d-flex justify-content-end mt-7 pt-7">
        <img src="../../../assets/images/Screeens/Intro1button.png" alt="" class="img-fluid me-1" style="width: 20px;height: 8px;">
        <img src="../../../assets/images/Screeens/Intro1button.png" alt="" class="img-fluid me-20 bg-white rounded-2" style="width: 39px;height: 8px;">
        <p class="text-white mt-n2 pe-5">Passer</p>
      </div>
    </div>
    <div class="col-lg-12 text-center ">
     <img src="../../../assets/images/Screeens/Intro1.png" alt="" class="img-fluid px-4" style="min-height: 334px;">
    </div>
    <div class="col-lg-12 text-center">
      <h2 class="pt-7 px-7 pb-1 fw-bolder introtitle">
        Signalez et protéger les autres
      </h2>
      <p class="fw-bold text-small">
        Alerter les autres utilisateurs <br>
        grâce à une carte interactive leur <br>
        indiquant les zones à risques.
      </p>
    </div>
    <div class="col-lg-12 text-center pt-10 mb-10">
      <span class="avatar avatar-lg shadow-lg rounded-4 bg-white" routerLink="/intro2">
        <span class="avatar-initials"><i class="fa-solid fa-angle-right" style="font-size: 30px;"></i></span>
      </span>
    </div>
  </div>
</div>
