<nav class="fixed-top bg-white py-3 shadow mb-3">
  <div class="d-flex justify-content-between ">
  <img src="../../../assets/images/Screeens/button back.png" alt="" class="img-fluid ps-3"  style="height: 40px;" routerLink="/Menue">
  <img src="../../../assets/images/Screeens/blueIconLogo.png" alt="" class="img-fluid" style="height: 40px;" routerLink="/userHome">
  <app-top-batch></app-top-batch>
  </div>
</nav>
<div class="container-fluid bg-light" *ngIf="!loading">
  <div class="row mt-11 mb-20">
   <div class="container">
    <div class="row">
      <div class="col-lg-12 " *ngIf="user!=null">
        <div class="d-flex  bg-white py-5 mb-5" >
          <div class="d-flex justify-content-between ps-5" *ngIf="user.image==''">
            <span class="avatar avatar-lg avatar-primary">
              <span class="avatar-initials rounded">{{user.legalname.charAt(0)}}</span>
            </span>
          </div>
          <div class="d-flex justify-content-between ps-5" *ngIf="user.image!=''">
             <img src="{{user.image}}" alt="" class="avatar avatar rounded-4">
          </div>
          <div class="d-flex flex-column ps-2">
            <h3 >
              {{user.legalname}}
            </h3>
            <h5 class="mt-n3">
              {{user.email}}
             </h5>
             <a class="mt-n3" routerLink="/editProfile">View Profile</a>
          </div>

        </div>
    </div>
    <div class="col-lg-12 px-8">
      <h2 class="small-text">
        Compte
      </h2>
    </div>
    <div class="col-lg-12 px-4">
      <button class="btn g-grid w-100 mb-4  bg-white d-flex  justify-content-between  shadow rounded-4 " routerLink="/ProfileAbedonment">
        <div class="d-flex justify-content-between  pt-2">
          <img src="../../../assets/images/Point/3dicons (4).png" alt="" class="pe-1" style="height: 35px;width: 35px;">
          <h4 class="pe-3 pt-1">Abonnements</h4>
        </div>
        <i class="fa-solid fa-chevron-right pt-3" style="font-size: 20px;"></i>
      </button>
    </div>
    <!-- <div class="col-lg-12 px-4">
      <button class="btn g-grid w-100 mb-4  bg-white d-flex  justify-content-between  shadow rounded-4 " routerLink="/userPaymentClient">
        <div class="d-flex justify-content-between  pt-2">
          <img src="../../../../assets/images/Point/bill.png" alt="" class="pe-1" style="height: 35px;width: 35px;">
          <h4 class="pe-3 pt-1">Payments</h4>
        </div>
        <i class="fa-solid fa-chevron-right pt-3" style="font-size: 20px;"></i>
      </button>
    </div> -->
    <div class="col-lg-12 px-4">
      <button class="btn g-grid w-100 mb-4  bg-white d-flex  justify-content-between  shadow rounded-4 " routerLink="/Lanauges">
        <div class="d-flex justify-content-between  pt-2">
          <img src="../../../assets/images/Point/3dicons (3).png" alt="" class="pe-1" style="height: 35px;width: 35px;">
          <h4 class="pe-3 mt-0">Pays et langues</h4>
        </div>
        <i class="fa-solid fa-chevron-right pt-3" style="font-size: 20px;"></i>
      </button>
    </div>
    <div class="col-lg-12 px-4">
      <button class="btn g-grid w-100 mb-4  bg-white d-flex  justify-content-between  shadow rounded-4 " routerLink="/Notifications">
        <div class="d-flex justify-content-between  pt-2">
          <img src="../../../assets/images/Point/3dicons (2).png" alt="" class="pe-1" style="height: 35px;width: 35px;">
          <h4 class="">Paramètres de notifications</h4>
        </div>
        <i class="fa-solid fa-chevron-right pt-3" style="font-size: 20px;"></i>
      </button>
    </div>
    <div class="col-lg-12 px-4">
      <button class="btn g-grid w-100 mb-4  bg-white d-flex  justify-content-between  shadow rounded-4 " routerLink="/userNotifications">
        <div class="d-flex justify-content-between  pt-2">
          <img src="../../../assets/images/Point/3dicons (2).png" alt="" class="pe-1" style="height: 35px;width: 35px;">
          <h4 class="">Notifications</h4>
        </div>
        <i class="fa-solid fa-chevron-right pt-3" style="font-size: 20px;"></i>
      </button>
    </div>
    <div class="col-lg-12 px-4">
      <a routerLink="/editProfile" class="btn g-grid w-100 mb-4  bg-white d-flex  justify-content-between  shadow rounded-4 ">
        <div class="d-flex justify-content-between  pt-2">
          <img src="../../../assets/images/Point/boy-front-color.png" alt="" class="pe-0" style="height: 35px;width: 35px;">
          <h4 class="pe-3 pt-1">Modifier le profil</h4>
        </div>
        <i class="fa-solid fa-chevron-right pt-3" style="font-size: 20px;"></i>
      </a>
    </div>
    <div class="col-lg-12 px-8">
      <h2 class="small-text">
        Général
      </h2>
    </div>
    <div class="col-lg-12 px-4">
      <a routerLink="/Aide" class="btn g-grid w-100 mb-4  bg-white d-flex  justify-content-between  shadow rounded-4 ">
        <div class="d-flex justify-content-between  pt-2">
          <img src="../../../assets/images/Point/Assistant.png" alt="" class="img-fluid pe-4">
          <h4 class="pe-3 pt-1">Aide</h4>
        </div>
        <i class="fa-solid fa-chevron-right pt-3" style="font-size: 20px;"></i>
      </a>
    </div>
    <div class="col-lg-12 px-4">
      <a routerLink="/GCU" class="btn g-grid w-100 mb-4  bg-white d-flex  justify-content-between  shadow rounded-4 ">
        <div class="d-flex justify-content-between  pt-2">
          <img src="../../../assets/images/Point/3dicons (1).png" alt="" class="img-fluid pe-4">
          <h4 class="pe-3 pt-1">CGU</h4>
        </div>
        <i class="fa-solid fa-chevron-right pt-3" style="font-size: 20px;"></i>
      </a>
    </div>
    <div class="col-lg-12 px-4">
      <a (click)="shareContent()" class="btn g-grid w-100 mb-4  bg-white d-flex  justify-content-between  shadow rounded-4 ">
        <div class="d-flex justify-content-between  pt-2">
          <img src="../../../assets/images/Point/3dicons.png" alt="" class="img-fluid pe-4">
          <h4 class="pe-3 pt-1">Partager</h4>
          <img src="../../../assets/images/Screeens/Frame 1.png" alt="" class="avatar" style="height: 30px;">
          <a href="" class="ms-n2 pt-1">potted</a>
        </div>
        <i class="fa-solid fa-chevron-right pt-3" style="font-size: 20px;"></i>
      </a>
    </div>
    </div>
   </div>
  </div>
</div>

<app-spinner *ngIf="loading"></app-spinner>
