<div class="d-flex fixed-bottom bg-white py-4">
  <div class="search-bar ps-4 py-2 pe-5 ms-3">
    <button type="submit" class="btn btn-primary btn-icon btn-sm" (click)="sidebarVisible = true">
      <i class="bi bi-plus mt-n1" style="font-size: 20px;color: #fff !important;"></i>
    </button>
    <input  type="text" class="form-control" placeholder="Enter location">

  </div>
  <img src="../../../assets/images/Point/sent icon.png" alt="" class="img-fluid px-4 mt-3" style="height: 25px;">
</div>



