<div class="bottom-navigation mt-7"  *ngIf="userRole=='User'">
  <div [ngClass]="getClassForRoute('/userHome')"  >
    <a routerLink="/userHome" >
      <i class="bi bi-house-door" style="font-size: 20px;"></i>
    </a>
</div>
  <div  [ngClass]="getClassForRoute('/SearchSpotted')">
      <a routerLink="/SearchSpotted">
        <i class="bi bi-search" style="font-size: 20px;"></i>
      </a>
  </div>
  <div [ngClass]="getClassForRoute('/SpottedHome')">
   <a routerLink="/SpottedHome">
     <img src="../../../assets/images/Screeens/S.png" alt="" class="img-fluid" style="height: 20px;" *ngIf="!isActive">
    <img src="../../../assets/images/Screeens/Ss.png" alt="" class="img-fluid" style="height: 20px;" *ngIf="isActive">
  </a>
  </div>

  <div [ngClass]="getClassForRoute('/PolicMan')">
    <a routerLink="/PolicMan">
      <img src="../../../assets/images/Screeens/policeman.png" alt="" class="img-fluid" style="height: 25px;" *ngIf="!isActive">
     <img src="../../../assets/images/Screeens/Police.png" alt="" class="img-fluid" style="height: 25px;"  *ngIf="isActive">
   </a>
   </div>
   <div [ngClass]="getClassForRoute('/Discuter')">
    <a routerLink="/Discuter">
      <i class="bi bi-chat-dots" style="font-size: 20px;"></i>
   </a>
   </div>

</div>

<div class="bottom-navigation mt-7" *ngIf="userRole=='Administrator'">
  <div [ngClass]="getClassForRoute('/Admin')"  >
    <a routerLink="/Admin" >
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-grid-fill" viewBox="0 0 16 16">
        <path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5zm8 0A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5zm-8 8A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5zm8 0A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5z"/>
      </svg>
    </a>
</div>
  <div  [ngClass]="getClassForRoute('/SearchSpotted')">
      <a routerLink="/SearchSpotted">
        <i class="bi bi-search" style="font-size: 20px;"></i>
      </a>
  </div>
  <div [ngClass]="getClassForRoute('/SpottedHome')">
   <a routerLink="/SpottedHome">
     <img src="../../../assets/images/Screeens/S.png" alt="" class="img-fluid" style="height: 20px;" *ngIf="!isActive">
    <img src="../../../assets/images/Screeens/Ss.png" alt="" class="img-fluid" style="height: 20px;" *ngIf="isActive">
  </a>
  </div>

  <div [ngClass]="getClassForRoute('/PolicMan')">
    <a routerLink="/PolicMan">
      <img src="../../../assets/images/Screeens/policeman.png" alt="" class="img-fluid" style="height: 25px;" *ngIf="!isActive">
     <img src="../../../assets/images/Screeens/Police.png" alt="" class="img-fluid" style="height: 25px;"  *ngIf="isActive">
   </a>
   </div>
   <div [ngClass]="getClassForRoute('/Discuter')">
    <a routerLink="/Discuter">
      <i class="bi bi-chat-dots" style="font-size: 20px;"></i>
   </a>
   </div>

</div>



